@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  --header-height: 3.5rem;
	/* Color Hue */
  --hue: 20;
  --primer-color: hsl(var(--hue), 100%, 40%);
  --primer-color-alt: hsl(var(--hue), 56%, 35%);
  --title-color: hsl(228, 8%, 95%);
  --text-color: hsl(228, 8%, 65%);
  --container-color: hsl(228, 15%, 25%);
  --body-color: hsl(228, 15%, 0%);
  /* fuente y tipografia */
  --biggest-fs: 2rem;
  --bigger-fs: 1.25rem;
  --h1-fs: 1.5rem;
  --h2-fs: 1.25rem;
  --h3-fs: 1rem;
  --normal-fs: 0.938rem;
  --small-fs: 0.813rem;
  --smaller-fs: 0.75rem;
  /* font weight*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  /* z-index*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 1152px) {
  :root {
    --biggest-fs: 4rem;
    --bigger-fs: 2rem;
    --h1-fs: 2.25rem;
    --h2-fs: 1.5rem;
    --h3-fs: 1.25rem;
    --normal-fs: 1rem;
    --small-fs: 0.875rem;
    --smaller-fs: 0.813rem;
  }
}
input,
button,
body {
  font-size: var(--normal-fs);
}
input,
button {
  outline: none;
  border: none;
}
body {
  background-color: var(--body-color);
  color: var(--text-color);
}
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.section {
  padding-block: 5rem 2rem;
}
.section-title,
.section-subtitle {
  text-align: center;
  color: var(--title-color);
  font-weight: var(--font-semibold);
}
.section-title {
  font-size: var(--h1-fs);
  margin-bottom: 1.5rem;
}
.main {
  overflow: hidden; /*scrollReveal*/
}
/* Header y nav */
.header {
  position: fixed;
  width: 100%;
  background-color: var(--body-color);
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo{
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.nav-logo span {
  color: var(--primer-color);
}
.nav-toggle,.nav-close,.search-ico {
  display: flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(0, 0%, 10%, .3);
    width: 75%;
    height: 100%;
    padding: 4.5rem 0 0 3rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    transition: right .4s;
  }
}
.nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
.nav-link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: color .4s;
}
.nav-link:hover {
  color: var(--primer-color);
}
.nav-close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
.show-menu {
  right: 0;
  transition: right .4s;
}